<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsbYwPFg5utfPmlM9rtM8z9CKYlx7Sy3A</string>
	<key>GCM_SENDER_ID</key>
	<string>905393148694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yhj0904.testIos</string>
	<key>PROJECT_ID</key>
	<string>howifeel-a069f</string>
	<key>STORAGE_BUCKET</key>
	<string>howifeel-a069f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905393148694:ios:553d9d212305b73bb1b637</string>
</dict>
</plist>